In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import os 
from sklearn.datasets import load_boston

In [2]:
dfa = load_boston()

D:\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
# data_url = "http://lib.stat.cmu.edu/datasets/boston"
# raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
# df = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
# target = raw_df.values[1::2, 2]

In [4]:
# raw_df.to_csv("D:\\Projects\\boston_df.csv")

In [3]:
dataset = pd.DataFrame(dfa.data)

In [4]:
dataset.columns = dfa.feature_names

In [5]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
x= dataset 
y= dfa.target

In [7]:
# Train test split 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3)

In [8]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
129,0.88125,0.0,21.89,0.0,0.6240,5.637,94.7,1.9799,4.0,437.0,21.2,396.90,18.34
119,0.14476,0.0,10.01,0.0,0.5470,5.731,65.2,2.7592,6.0,432.0,17.8,391.50,13.61
258,0.66351,20.0,3.97,0.0,0.6470,7.333,100.0,1.8946,5.0,264.0,13.0,383.29,7.79
108,0.12802,0.0,8.56,0.0,0.5200,6.474,97.1,2.4329,5.0,384.0,20.9,395.24,12.27
76,0.10153,0.0,12.83,0.0,0.4370,6.279,74.5,4.0522,5.0,398.0,18.7,373.66,11.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,1.05393,0.0,8.14,0.0,0.5380,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58
279,0.21038,20.0,3.33,0.0,0.4429,6.812,32.2,4.1007,5.0,216.0,14.9,396.90,4.85
250,0.14030,22.0,5.86,0.0,0.4310,6.487,13.0,7.3967,7.0,330.0,19.1,396.28,5.90
387,22.59710,0.0,18.10,0.0,0.7000,5.000,89.5,1.5184,24.0,666.0,20.2,396.90,31.99
385,16.81180,0.0,18.10,0.0,0.7000,5.277,98.1,1.4261,24.0,666.0,20.2,396.90,30.81

In [9]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()

In [10]:
x_train = scalar.fit_transform(x_train)

In [11]:
x_test = scalar.transform(x_test)

In [12]:
x_train

array([[-0.33492683, -0.47735247,  1.59133845, ...,  1.26873203,
         0.43653362,  0.75502975],
       [-0.40999208, -0.47735247, -0.1686399 , ..., -0.30327319,
         0.37696994,  0.11213967],
       [-0.35711954,  0.42029839, -1.06344371, ..., -2.52257467,
         0.28641108, -0.67890056],
       ...,
       [-0.41044666,  0.51006347, -0.78344716, ...,  0.29778763,
         0.42969483, -0.93578476],
       [ 1.87841741, -0.47735247,  1.02986388, ...,  0.80637755,
         0.43653362,  2.61030451],
       [ 1.28876237, -0.47735247,  1.02986388, ...,  0.80637755,
         0.43653362,  2.44992179]])

In [13]:
from sklearn.linear_model import LinearRegression 
model =LinearRegression()
model = model.fit(x_train,y_train)

In [15]:
# predicting model
ycap = model.predict(x_test)
ycap

array([25.63313315, 24.26840342, 30.39152527, 23.36034805, 22.40589944,
       16.54080909, 33.0126786 , 18.78290177, 32.48739031, 22.834666  ,
       20.45018036, 13.05913275, 24.97462327, 20.08338146, 28.15734481,
       24.56329931, 20.78589098, 10.38496141, 15.76937556, 24.90616726,
       14.50000259, 24.78853277, 27.36860847, 18.06078541, 20.49691785,
       20.65510024, 31.17311909, 18.36301083,  3.46134452, 18.89622757,
       31.33080428, 18.63559317, 27.35053127, 19.14254078, 22.10389003,
       30.41014392, 22.08195318, 25.56467472, 17.86283997, 16.51973182,
       17.03536549, 31.01530993, 22.67796514, 23.74221169, 21.85450575,
       24.11082354, 17.4860606 , 40.11680197, 27.43667348, 23.11871453,
       29.29116163, 14.31711341,  9.22905253, 29.8671577 , 11.93411039,
       10.65791698, 16.99686713, 32.3309907 , 17.0054533 , 26.87769724,
       28.58541359, 19.02744415, 13.74008175, 23.55449398, 34.76949811,
       13.6396943 , 17.36500944, 20.83797506, 29.44871389, 11.41622756,
       18.19119803, 22.08891361, 13.64207721, 30.09026122, 23.49075483,
       14.19019365, 35.49552752, 25.33343695, 28.26481515, 24.2850971 ,
       18.93232421, 15.47826865, 25.050946  , 29.4526611 , 34.06636793,
       16.97177181, 28.86616094, 18.11892632, 27.28265214, 20.01195029,
       16.3633114 , 22.20101132, 19.36039875, 17.25033206, 41.23821789,
       19.75226671, 14.33406897, 16.35729057, 30.39059441, 23.98168471,
       18.85351571, 21.08051529, 13.29230405, 15.53223838, 27.87782865,
       18.83557428, 21.70649109, 21.34488085,  7.96304831, 13.960608  ,
       17.54873835, 34.40535283, 19.21868019, 15.42355933, 19.91871343,
       24.07834341, 21.96964788, 25.24469019, 27.4320815 , 36.51833527,
       27.28645329, 30.95315631, 41.18716514, 20.68812731, 24.51829255,
       31.67309593, 18.93726811,  8.45864081, 12.60697528, 30.34166535,
       12.94319168, 27.06606463, 13.4880363 , 19.52292641, 19.11287237,
       27.43329216, 13.24873796,  7.58608307, 25.82357451, 16.31723111,
       16.85761384, 19.60518149, 24.18708701, 36.88077561, 27.32526257,
       30.07900604, 19.85022402, 40.08046271, 23.35809139, 22.00435912,
       34.86978854, 24.97506334])

# Checking the accuracy of the model

In [31]:
from sklearn.metrics import *

R2_Score

In [32]:
score = r2_score(y_test,ycap)                       # R2_Score
print(score*100)

71.95497787470529

explained_variance_score

In [33]:
exp_var_Score = explained_variance_score(y_test,ycap)
exp_var_Score*100

71.96529045361125

# max_error

In [38]:
m_error = max_error(y_test,ycap)           # The maximum difference between predicted and actual value is 24.75
m_error

24.755309807769926